@charset "UTF-8";

.icon, .forward {
  background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1 {
  font-size:24px;
  font-style: normal;
  font-weight: bold;
  line-height: 29px;
}

.h4 {
  font-size:14px;
  color:#000000;
}

.search-booking > .h1 {
  padding-bottom:21px;
}

.search-booking > input[type=text] {
  border:1px solid rgba(31, 32, 65, 0.25);
}

.search-booking > input[type=text]:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}




.h3 {
  padding-bottom:5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31,32,65,1);

}

.forward {
  position: absolute;
    left: 85%;

}

.date-drop input {
  width: 129px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.date-drop  input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.dmy-container input {
  outline: none;
  width: 320px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("font/Montserrat-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
}

input {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  border-radius: 4px;
}

input[type=text] {
  padding-left:15px;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-family: Montserrat-Regular;
  height: 44px;
}

input[type=text]:hover{
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.date-drop > .top-text {
  width: 65%;
}

.date-drop {
  padding-bottom:20.5px;
  width: 343px;
}

.date-block {
  display: flex;
  justify-content: space-between;
}
.date-block div {
  display: flex;
}

.dmy-container {
  width: max-content;
}

.dmy-container input {
  outline: none;
  width: 320px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.dmy-container input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.arr {
  cursor: pointer;
  color: rgba(31, 31, 65, 0.5);
  position: relative;
  right: 30px;
  top: 12px;
}

/* stepper place */
.stepper__place {
  width: 270px;
}

.inp-container > input textarea {
  width: 100px;
}

.inp-container > input {
  width:95%;
  border-radius: 4px;
  outline: none;
  text-overflow: ellipsis;
}

/* clickme buttons  */
.link {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.clean {
  margin-top:15px;
  color: rgba(31, 32, 65, 0.5);
}

.acc {
  margin-top:15px;
  margin-left:46%;
  color: #BC9CFF;
}

/* кнопка оплаты */
.text {
  margin: 0 auto;
}

.pay {
  padding-right:0.5em;
  color: inherit;
  -webkit-text-fill-color: inherit;
}

.gotopay {
  position: relative;
  margin: 30px 0px 30px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 320px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.fa-arrow-right {
  cursor: pointer;
  margin-right: 10px;
}

.star-container {
  font-size:20px;
}


/* звездочки    */
.fa-star {
  /*
   text-shadow: 0 0 3px #000;
   color:white;
   */
  /* так лучше
    color:white;
  text-shadow: -1px 0 #BC9CFF, 0 1px #BC9CFF, 1px 0 #BC9CFF, 0 -1px #BC9CFF;
    */
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #BC9CFF;
}

.star-container {
  width:max-content;
}

.fa.active {
  background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* checkbox toggle   */
.checkbox-container {
  width: 40px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 15px;
}

.checkbox-in {
  cursor: pointer;
  width: 50px;
  opacity: 0;
  position: absolute;
}

input:checked + .u {
  transition: 0.4s ease-in-out;
  margin-left: 25px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.checkbox-container-change {
  border: 1px solid #BC9CFF;
}

.u {
  margin: 2px 0px 2px 5px;
  transition: 0.4s ease-in-out;
  border: none;
  outline: none;
  background: linear-gradient(45deg, #1f204140, #1f204140);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* spisok checkboxov */
.block-check {
  max-width: 266px;
}

.downcheck {
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
  width: max-content;
}

.show2 {
  max-height: 100rem;
  flex-direction: column;
  transition: all 1s ease-in-out;
}

.chmi.material-icons {
  position: inherit;
  line-height: 0.6;
}

.place__down {
  border: none;
  height: 0;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}

.place__result {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.result-id {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.result-change {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.show3 {
  width: inherit;
  transition: all 0.3s ease-in-out;
  height: 159px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + label {
  display: inline-flex;
  user-select: none;
  color: rgba(31, 32, 65, 0.5);
}

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center left 55%;
  background-size: 65% 100%;
}

.custom-radio:checked + label::before {
  border: 1px solid #BC9CFF;
  background-color: #FFFFFF;
  background-image: url("icon/rectangle.svg");
}

.custom-checkbox + label {
  display: inline-flex;
  user-select: none;
  color: rgba(31, 32, 65, 0.5);
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 60% 100%;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox:checked + label::before {
  border: 1px solid #BC9CFF;
  background-color: #FFFFFF;
  background-image: url("icon/vector.svg");
}

/* Customize the label (the container) 
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox 
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox 
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color 
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background 
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) 
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator 
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

<label class="container">One
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>

<label class="container">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
*/
.rich__checkbox {
  width: 233px;
  display: flex;
  margin-bottom: 10px;
}

.rich__h :first-child {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}

.rich__h :last-child {
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
}

.bullet__list {
  display: flex;
  flex-direction: column;
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
}

.bullet div:before {
  content: "";
  display: inline-block;
  margin-right: 10.4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
}

.bullet__list span {
  line-height: 24px;
}

.bullet {
  margin-bottom: 10.5px;
  display: flex;
}

/* like button */
#heart {
  font-size: 10px;
}


.heart {
  color: rgba(31, 32, 65, 0.25);
  cursor: pointer;
  align-self: center;
  font-size: 10px;
}

.heart-change {
	background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}

.number {
  font-size: 10px;
  border: none;
  background: none;
  outline: none;
  width: 15px;
  margin-left: auto;
  color: rgba(31, 32, 65, 0.25);
}

.number-change {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}

.block {
  display: flex;
  width: 40px;
  height: 20px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 15px;
  padding:1px 1px .5px .5px;
}

.block-change {
  background: linear-gradient(rgb(188, 156, 255) 0%, rgb(139, 164, 249) 100%)
}

.block__container {
  font-size: 10px;
  margin: 0 auto;
  background: #FFFFFF;
  display: flex;
  width: inherit;
  border-radius: 15px;
  padding: 0px 0px 0px 8px;
}

/* buttons */
.buttons-container {
  width: 300px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.buttons-container > .buttons {
  padding: 9px 19px 9px 19px;
}

.pay-container > .buttons {
  height:44px;
}

.buttons {
  font-family: Montserrat-Regular;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  height: 34px;
  border-radius: 22px;
  outline: none;
  border: none;
}

.buttons.defaultOne, .buttons.defaultTwo {
  color: #FFFFFF;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}


.buttons.hoverOne, .buttons.hoverTwo {
  width:87px;
  height:34px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 2px;
}

.p, .p2 {
  text-align: center;
    padding: 7.5px;
    border-radius: 22px;
    background: white;
    color: #BC9CFF;
}

.buttons.hoverTwo {
  opacity: 0.5;
}

.buttons.defaultTwo {
  opacity: 0.5;
}

/* stepper  */
.stepper {
  padding-bottom:16px;
}

.result {
  color: rgba(31, 32, 65, 0.75);
  background: none;
  width: 320px;
}

.stepper > .arr {
  width:auto;
}

.inp-container {
  position:relative;
  height: 48px;
}

.container__content {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px 0px 15px;
  height: 38px;
}

.container__text {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 3.8;
}

.container__buttons > .clean {
  visibility: hidden;
}

.button {
  width: 30px;
  height: 30px;
  outline: none;
  background: none;
  border: none;
  font-size: 18px;
  color: rgba(31, 32, 65, 0.5);
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 22px;
}

button:disabled {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.content__block {
  display:flex;
  align-items: center;
}

.content__block > input {

  text-align: center;
  outline: none;
  border: none;
  background: none;
  width: 20px;
}

.search-booking > input {
  margin-bottom:18px;
}

.search-booking > form {
  display:flex;
}

.search-booking >form > label {
  margin:0px 20px 20px 0px;
}

.checkbox-text {
  padding-left:10px;
  color: rgba(31, 32, 65, 0.75);
}

.checkbox-row {
  display:flex;
}

.container {
  border: none;
  height: 0;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}

.inp-container > .arr {
  position: absolute;
  right:2.5%;
}

.show {
  width:100%;
  transition: all 0.3s ease-in-out;
  height: 159px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border: 1px solid rgba(31, 32, 65, 0.5);
  flex-direction: column;
}

/* интересный вариант но оставляет пространство после себя
container {
  transition: all 0.4s;
  transform-origin: 0% 100%;
  width:max-content;
  z-index:1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show {
  transition: all .4s;
  margin-top:10px;
  flex-direction: column;
}

*/

.comfort__block > span {
  font-size:48px;
}

.emotion, .build {
  margin-right:10px;
}

.comfort__block {
  display:Flex;
  width:max-content;
  align-items: center;
  line-height: 24px;
  padding:0px 0px 17px 0px;
  margin-bottom: 10px;
  border-bottom:1px solid rgba(31, 32, 65, 0.1);
}

.comfort__h {
  display:flex;
  flex-direction: column;
  color: rgba(31,32,65,0.75);
  font-size:14px;
}

.h {
  font-weight: bold;
  color: #1F2041;
}



/* поля ввода */
.email-container > input {
  height:40px;
  width:255px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.email-container {
  position:relative;
}

.top-text {
  text-transform: uppercase;
  display: flex;
  font-size: 12px;
  line-height: 15px;
  justify-content: space-between;
}

.email-input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}



.email-input:hover, .email-input:focus {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.pagination-container {
  display:flex;
}

.circle {
  background:none;
  padding:1em 1.2em;
  border-radius: 50%;
  outline:none;
  border:none;
  cursor: pointer;
  color:rgba(31, 32, 65, 0.5);
}

.log-in {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.circle:hover {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color:#FFFFFF;
}

.pag {
  padding:0.5rem;
  border-radius:50%;
  color:#FFFFFF;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.logo {
  width:106px;
  height:40px;
  background: url("icon/logo.png")no-repeat;
}

.menu-content {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  color:rgba(31, 31, 65, 0.5);
  display:Flex;
}

.menu-content:hover {
  cursor: pointer;
  font-weight: bold;
  color:rgba(31, 32, 65, 0.75);
}

.head-arr {
  position: inherit;
}

.menu {
display:Flex;
justify-content: space-between;
width:447px;
}

.footer-logo-block {
  padding-right:40px;
}

header {
  padding:0px 140px;
  height:70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.both-menu {
  display:flex;
  align-items: center;
}

section {
  padding:0px 140px;
  display:flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logo-text {
  line-height: 24px;
  margin-top:18px;
  font-size: 14px;
  width: 260px;
  color: rgba(31,32,65,0.75);
}

.nav-element {
  font-weight: 700;
  font-size:12px;
  font-weight: bold;
  color: rgba(31,32,65,1);
  text-transform: uppercase;
}

.nav-suggestion {
  line-height: 21.7px;
  font-size:14px;
  width:260px;
  color: rgba(31,32,65,0.75);
}

.nav-content {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgba(31, 31, 65, 0.5);
  display: Flex;
}

.nav-block {
  padding-top: 4px; 
  height: 168px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 21px;
}

footer {
  display:flex;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  height:70px;
  align-items: center;
  justify-content: space-between;
  padding:0px 140px;
}

.footer-copyright {
  font-size: 14px;
  color: rgba(31,32,65,0.75);
}

.fab {
  padding:0px 9px;
  font-size: 24px;
  cursor: pointer;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-alt {
  margin:0 auto;
  width: 768px;
  height: 367px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-alt > div {
  padding-bottom:1.3rem;
}
/*# sourceMappingURL=base.css.map */


/*range slider */

.middle {
  margin:20px 0px;
	position: relative;
	width: 50%;
	max-width: 500px;
}

.slider {
	position: relative;
	z-index: 1;
	height: 6px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
  background: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.slider > .range {
  height:6px;
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

}
.slider > .thumb {
  border:2px solid white;
	position: absolute;
	z-index: 3;
	width: 12px;
	height: 12px;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
  left: 25%;
	transform: translate(-5px, -5px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(5px, -5px);
}

input[type=range] {
  cursor: pointer;
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}

.date-picker {
  display:none;
	position: relative;
	width: 100%;
	max-width: 320px;
	background-color: #FFF;
	margin:auto;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	user-select: none;
}

.showDate {
  display:block;
}

.date-picker:hover {
	background-color: #F3F3F3;
}

.date-picker .selected-date {
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 28px;
}

.date-picker .dates {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #FFF;
}

.date-picker .dates.active {
	display: block;
}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);;
}

.date-picker .dates .month .arrows:active {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
}
.date-picker .dates .days .day { 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}
.date-picker .dates .days .day.selected {
  border-radius:50%;
  color:white;
  font-weight: bold;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.date-picker .dates .week {
  display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}

.weeks {
  display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 40px;
}

.search-booking {
  padding:40px 30px 30px 30px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:380px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.nav-block > .forward {
  bottom:12px;
}