$dark_100 : rgba(31, 32, 65, 1);
$dark_75 : rgba(31, 32, 65, 0.75);
$dark_50 : rgba(31, 32, 65, 0.5);
$dark_25 : rgba(31, 32, 65, 0.25);
$gradient : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$violet : #BC9CFF;
%gradient-icon {
	background: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}

.date-drop input {
	width:145px;
	border: 1px solid $dark_25;
}

.dmy-container input {
	outline: none;
	width:320px;
	border: 1px solid $dark_25;
}

@font-face { 
  font-family:Montserrat-Regular;
  src:url("font/Montserrat-Regular.ttf");
}

body {
  margin:0;
  padding:0;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
}


input {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  border-radius:4px;
}

input[type="text"] {
  font-style: normal;
  font-weight: normal;
  font-family: Montserrat-Regular;
	height:44px;
}

.icon, .forward {
	 @extend %gradient-icon;
}

.date-drop > .top-text {
	width:325px;
}

.date-drop {
	width:343px;
}

.date-block {
	display:flex;
	justify-content: space-between;
	& div {
	display:flex;
	}
}


.dmy-container {
	width:max-content;
}

.dmy-container input {
	outline: none;
	width:320px;
	border: 1px solid $dark_25;
}

.dmy-container input::placeholder {
	color: $dark_25;
}

.arr {
  cursor: pointer;
  color:rgba(31, 31, 65, 0.5);
  position: relative;
  right:30px;
  top:12px;
}

/* stepper place */ 



.stepper__place {
  width:270px;
}

.inp-container > input textarea {
  width:100px;
}

.inp-container > input {
   width:266px;
    border-radius: 4px;
    outline: none;
    border: 1px solid $dark_25;
  text-overflow: ellipsis;
}
/* clickme buttons  */

.link {
	cursor: pointer;
	background:none;
	border:none;
	outline: none;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-decoration: none;
	text-transform: uppercase;
}


.clean {
	color: $dark_50;
}

.acc {
	color: #BC9CFF;
}




/* кнопка оплаты */

.text {
	margin:0 auto;
}

.pay {
	     color: inherit; 
    -webkit-text-fill-color: inherit;
}

.gotopay {
	margin:15px 0px 15px;
    display: flex;
    align-items: center;
	color:#FFFFFF;
	width: 320px;
	background: $gradient;
}

.fa-arrow-right {
	cursor:pointer;
	margin-right:10px;
}

/* звездочки    */

.fa-star {
	/*
	 text-shadow: 0 0 3px #000;
	 color:white;
	 */
	 /* так лучше
	  color:white;
	text-shadow: -1px 0 #BC9CFF, 0 1px #BC9CFF, 1px 0 #BC9CFF, 0 -1px #BC9CFF;
   */
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .7px;
  -webkit-text-stroke-color: #BC9CFF;
}

.fa.active {
  background: -webkit-$gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* checkbox toggle   */
.checkbox-container {
	width: 50px;
    border: 1px solid $dark_25;
    border-radius: 15px;
}

.checkbox-in {
	width:50px;
	height:30px;
	opacity: 0;
	position: absolute;
}

input:checked + .u {
	transition: .4s ease-in-out;
	margin-left:25px;
	background: $gradient;
}


.u {
	margin:2px 0px 2px 5px;
	transition: .4s ease-in-out;
	border:none;
	outline: none;
	background: linear-gradient(45deg, #1f204140, #1f204140);
	width:20px;
	height:20px;
	border-radius: 50%;
}

/* spisok checkboxov */
.block-check {
	max-width:266px;
}


.downcheck {
	display:flex;
	flex-direction: column;
	max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
	width:max-content;
}

.show2 {
	max-height:100rem;
	flex-direction: column;
    transition: all 1s ease-in-out;
}

.chmi.material-icons {
	position: inherit;
   	line-height: 0.6;
}

.place__down {
  border: none;
  height: 0;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}

.show3 {
  width: inherit;
  transition: all 0.3s ease-in-out;
  height: 159px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border: 1px solid $dark_50;
}

.custom-radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-radio+label {
	display:inline-flex;
  user-select: none;
  color:$dark_50;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $dark_25;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center left 55%;
  background-size: 74% 100%;
}

.custom-radio:checked+label::before {
  border:1px solid #BC9CFF;
  background-color: #FFFFFF;
  background-image: url('rectangle.svg');
}

.custom-checkbox+label {
  display: inline-flex;
  user-select: none;
  color:$dark_50;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $dark_25;
  border-radius: 4px;
  margin-right: 0.5em;
  margin-bottom:0.5em;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 60% 100%;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox:checked+label::before {
  border:1px solid #BC9CFF;
  background-color: #FFFFFF;
  background-image: url("vector.svg");
}




/* Customize the label (the container) 
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox 
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox 
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color 
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background 
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) 
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator 
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

<label class="container">One
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>

<label class="container">Two
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Three
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Four
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
*/

.rich__checkbox {
  width:233px;
  display:flex;
  margin-bottom: 10px;
}

.rich__h :first-child {
  margin-bottom:5px;
  font-size:14px;
  font-weight: bold;
  color: $dark_75;
}

.rich__h :last-child {
  font-size:12px;
  color: $dark_50;
}

.bullet__list {
  display:flex;
  flex-direction: column;
  color: $dark_75;
  font-size: 14px;
}

.bullet div:before {
  content:"";
  display:inline-block;
  margin-right:10.4px;
  width:10px;
  height:10px;
  border-radius: 50%;
  background:$dark_25;;
}

.bullet__list span {
 line-height: 24px;
}

.bullet {
  margin-bottom:10.5px;
  display:flex;
}

/* like button */ 
#heart {
  font-size: 10px;
}
.heart {
  color:$dark_25;
  cursor:pointer;
  align-self: center;
  font-size:10px;
}

.number {
  font-size:10px;
  border:none;
  background:none;
  outline: none;
  width:20px;
  margin-left:auto;
  color:$dark_25;
}

.number-change {
  color: -webkit-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block {
  display:flex;
  width:50px;
  height:20px;
  background:$dark_25;
  border-radius:15px;
  padding:2px 1.5px 1.5px 1.5px;
}

.block__container {
  font-size:10px;
  margin:0 auto;
  background:#FFFFFF;
  display:flex;
  width:inherit;
  border-radius:15px;
  padding:0px 0px 0px 8px;
}

/* buttons */

.buttons-container {
  width:228px;
  height:auto;
}

.buttons-container > .buttons {
  padding:15px 20px 15px 20px;
}


.buttons {
  font-family: Montserrat-Regular;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  height: 44px;
  border-radius: 22px;
  outline: none;
  border:none;
}

.buttons.defaultOne, .buttons.defaultTwo {
  color:#FFFFFF;
  margin:30px 0px 30px 0px;
  border:none;
  background: $gradient;
}

.buttons.hoverOne:hover {
  color:#FFFFFF;
  background: $gradient;
}

.buttons.defaultOne, .buttons.hoverOne {
  margin-right: 15px;
}

.buttons.hoverOne, .buttons.hoverTwo {
  background:$gradient;
  position: relative;
    padding: 3px;
  margin-bottom:30px;
}


.p, .p2 {
  line-height: 28px;
  transition: 0.4s ease-in-out;
  border-radius:22px;
  padding: 0.36rem 1rem 0.2rem;
  background:white;
  color: #BC9CFF;
}

.buttons.hoverTwo {
  opacity: 0.5;
}

.buttons.defaultTwo {
  opacity: 0.5;
}

/* stepper  */


#result {
  color: $dark_75;
  background:none;
  width:320px;
  border: 1px solid $dark_25;
}

#stepper {
  width:323px;
}

.inp-container {
  height:48px;
  display:flex;
  width:350px;
}

.container__content {
  display:flex;
  justify-content: space-between;
  margin:0px 5px 0px 15px;
  height:38px;
}

.container__buttons {
  margin-top:16px;
  display: flex;
  justify-content: space-between;
}

.container__text {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 3.8;
}

.container__buttons > .clean {
  visibility: hidden;
}

.button {
  width:30px;
  height:30px;
  outline: none;
  background:none;
  border:none;
  font-size:18px;
  color:$dark_50;
  border: 1px solid $dark_50;
  border-radius:22px;
}


button:disabled {
  border: 1px solid $dark_25;
}

.content__block > input {
  text-align: center;
  outline: none;
  border:none;
  background:none;
  width:20px;
}

.container {
  border:none;
  height: 0;
    overflow: hidden;
  transition:  0.1s ease-in-out;
}

.show {
  width:inherit;
  transition: all 0.3s ease-in-out;
  height:159px;
  border-radius:4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border: 1px solid $dark_50;
  flex-direction: column;
}
/* интересный вариант но оставляет пространство после себя
container {
  transition: all 0.4s;
  transform-origin: 0% 100%;
  width:max-content;
  z-index:1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show {
  transition: all .4s;
  margin-top:10px;
  flex-direction: column;
}

*/

/* поля ввода */

.email-container > input {
  width:320px;
  border-radius: 4px;
  outline:none;
    border: 1px solid $dark_25;
}


.email-container {
  max-width:max-content;
  margin-bottom:20px;
}

.top-text {
  text-transform: uppercase;
  display:flex;
  font-size: 12px;
  line-height: 15px;
  justify-content: space-between;
}

.top-text> div:last-child {
  color: $dark_50;
}

.top-text > div:first-child {
  font-weight: bold;
  color: #1F2041;
}

.email-input::placeholder {
  color: $dark_25;
}

.email-input:hover, .email-input:focus {
  color: $dark_75;
  border: 1px solid $dark_50;
}